/* table */
/* Styling the table */
.styled-table { 
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
/* Styling the header */
.styled-table thead tr {
  background-color: #615330;
  color: #ffffff;
  text-align: center;
}
/* Moving onto the table cells */
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
/* table rows */
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #615330;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #615330;
}

img{
  width: 150px;
  height: 120px;
}

.styled-table a{
  color:rgb(0, 72, 134)
}
